.wrapper {
  max-width: 85%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 1300px) {
  .wrapper {
    max-width: 100%;
    padding: 1rem 2rem;
  }
}
